@{
    ViewData["Title"] = "";
}

<!-- Overlay Text with White Border -->
<div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center;">
    <h1 style=" font-size:100px;color:black; text-shadow: -1px -1px 0 #999, 1px -1px 0 #999, -1px 1px 0 #999, 1px 1px 0 #999;">
        Welcome to 39eerTime Storage
    </h1>
</div>
